<div *ngFor="let question of paginatedQuestions">{{ question }}</div>

<mat-paginator
  [length]="questions.length"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
></mat-paginator>

<button *ngIf="pageIndex === lastPageIndex" mat-raised-button mat-dialog-close>Close</button>

<!-- <div *ngFor="let question of paginatedQuestions">{{ question }}</div>

<div class="pagination-controls">
  <button mat-raised-button (click)="previousPage()" [disabled]="pageIndex === 0">Previous</button>
  <button mat-raised-button (click)="nextPage()" [disabled]="pageIndex === lastPageIndex">Next</button>
</div> -->